.input:focus {
    border: 1px solid #D1D1D1;
    outline: none;
}

.input {
    height: 36px;
    width: 372px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

.superInput {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.errorInput {
    border: 1px solid #CC1439;
}

.errorInput:focus {
    border: 1px solid #CC1439;
}

.error {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #CC1439;


}
