.radio {
    display: flex;
    flex-direction: column;
    background: #000000;
    gap: 50px;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    gap: 10px;
    color: #000000;
}

.options {
}
