.buttonsContainer {
    margin-top: 10px;
    display: flex;
    gap: 30px;
    width:276px;
}
.buttonsContainer button{
    display: inline-flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}
.editableSpanContainer input {
    width: 276px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}