.friendMessage {
    width: 100%;
}

.friendImageAndText {
    padding: 5px;
    width: auto;
}

.friendImageAndText img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    float: left;
}

.friendText {
    padding: 5px;
    display:inline-block;
    text-align: left;
    background-color: #F5F7FB;
    border-radius: 10px;
    margin-left: 10px;
    position: relative;
}

.friendText:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -20px;
    border-bottom: 15px solid  #F5F7FB;
    border-top-color: inherit;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.friendName {
    font-size: large;
    font-weight: bold;
}

.friendMessageText {
    font-size: xx-large;
}

.friendTime {
    padding-left: 15px;
    text-align: start;
}
